@using PlantStore.ViewModels
@model IEnumerable<NewsViewModel>

@{
    var groupedNews = Model.OrderByDescending(n => n.DateNews)
                           .GroupBy(n => n.DateNews.ToString("MMMM yyyy"));
}

@foreach(var group in groupedNews)
{
    <div class="month-news">
        <h1 class="month">@group.Key</h1>
    </div>

    @foreach(var news in group)
    {
        <div class="news-container">
            <div class="news-title">
                <h1 class="title">@news.TitleNews</h1>
            </div>
            <div class="news-info">
                <div class="news-image">
                    <img class="image" src="@news.UrlNews">
                </div>
                <div class="news-description">
                    <p>@news.DescriptionNews</p>
                </div>
            </div>
            <div class="news-date">
                <p>@news.DateNews.ToString("HH:mm dd.MM.yyyy")</p>
            </div>
        </div>
    }
}



